{%extends 'base.html'%}

{%block content%} 

<div class="row justify-content-center">
    <div class="col-md-6 frosted-glass glass-form" id="pay-form" >
      
      <form action='/card' method="POST" id="cc-form">

        {{ form.hidden_tag() }}
          <h1>Payment Information:</h1>
          {%for field in form if field.widget.input_type != 'hidden'%}
          <div class="row">
            <div class="col">{{field.label}}</div>
            <div class="col">{{field}}</div>   
          </div>     
          {%endfor%}
        
          <div class="row">
        <div class="col"></div>
        <div class="col"><button class="event-btn glass-form-btn" id="pay-submit"><span id="pay-now">Pay Now!</span><div class="spinner-border" id="pay-spinner" role="status">
        </div>
          </button></div>
        </div>
       
      </form>
    </div>
  </div>
{%endblock%}