{%extends 'base.html'%}

{%block content%} 

<div class="row justify-content-center">
    <div class="col-md-6 frosted-glass glass-form">
      
      <form action='/card' method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div>
          <h1>Payment Information:</h1>
          {%for field in form if field.widget.input_type != 'hidden'%}
          <div class="row">
            <div class="col">{{field.label}}</div>
            <div class="col">{{field}}</div>   
          </div>     
          {%endfor%}
        
        <button class="event-btn glass-form-btn" id="pay-submit"><span id="pay-now">Pay Now!</span><div class="spinner-border" id="pay-spinner" role="status">
        </div>
          </button>
       
      </form>
    </div>
  </div>
{%endblock%}