/* HOME */
body {
	height: 100%;
	width: 100vw;
	margin: 0;
	font-family: proxima-soft, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.2px;
	color: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
}

* {
	font-size: 23px;
}

h1 {
	font-weight: 700;
	font-family: 'Roboto';
}

button {
	font-size: 25px;
}

.bg {
	background: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	overflow-y: scroll;
}

.header {
	color: #fff;
	width: 100vw;
}
.header h1 {
	padding-top: 10px;
	font-family: 'Pirata One';
	font-size: 75px;
}

.header p {
	font-family: 'Michroma';
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}

.hs-copy {
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
}

.footer {
	margin-top: 50px;
	width: 100vw;
	font-size: 20px;
	font-family: 'Roboto';
	background-color: rgba(0, 0, 0, 0.3);
}

.wrap {
	padding: 27px;
	text-align: center;
}

.wrap a {
	color: #3ea1f6;
}

.hover-fx {
	font-size: 27px;
	display: inline-block;
	cursor: pointer;
	margin: 15px;
	width: 27px;
	height: 27px;
	line-height: 27px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	transition: 300ms;
}

.hover-fx:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	box-sizing: content-box;
	box-shadow: 0 0 0 1px #3ea1f6;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 300ms;
}

.hover-fx:hover {
	background-color: #050903;
	color: #3ea1f6;
}

.hover-fx:hover:after {
	opacity: 1;
	transform: scale(1.15);
}

/* Login and Register */

.login-btn {
	display: inline-block;
	padding: 0.5em 3em;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: 0.16em solid #ffffff;
	color: #ffffff;
	text-align: center;
	transition: all 0.15s;
	margin: 0 0.3em 0.3em 0;
	margin-top: 5px;
}

.login-btn:hover {
	background-color: #fff;
	border: 0.16em solid #ffffff;
	color: #050903;
	text-align: center;
	transition: all 0.5s;
}

.form-control {
	font-size: inherit;
}

.login-header {
	margin-top: 5%;
	font-size: 45px;
}

.frosted-glass {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
}
.transparent-form {
	width: 65%;
	position: relative;
	display: flex;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 5%;
	bottom: 5%;
	color: #fff;
	box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.3);
	justify-content: center;
	text-align: center;
	margin-bottom: 50px;
}

/* https://dev.to/khush2706/frosted-glass-effect-in-css-27p4 */

/* .transparent-form p {
	font-size: inherit;
} */
.transparent-form a {
	color: #e7f2f8;
	text-decoration: underline 0.15em rgba(255, 255, 255, 0);
	transition: ease 0.5s;
	margin-left: 5px;
	letter-spacing: 2.5px;
	position: relative;
	padding: 0.2em 0;
	font-weight: 600;
}

.transparent-form a::after {
	transform: scale(0);
	transform-origin: center;
	content: '';
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	transition: opacity 300ms, transform 300ms;
	background-color: #fff;
}

.transparent-form a:hover::after,
.transparent-form a:focus::after {
	transform: scale(1);
}

/* https://css-irl.info/animating-underlines/ */

.transparent-form input {
	align-self: center;
	color: #fff;
	padding: 5px;
	margin: 10px auto;
	font-size: 22px;
	width: fit-content;
	-webkit-text-fill-color: #fff !important;
	-webkit-background-clip: text;
	background-clip: text;
}

.transparent-form input:focus {
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	border: #fff;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
/* https://stackoverflow.com/questions/61462583/html-input-css-background-color-not-applied */
/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */

/* NAVBAR */

.hs-navbar {
	font-family: proxima-soft, sans-serif;
	font-weight: 400;
	font-style: normal;
}

nav {
	width: 100vw;
	margin: 0 auto;
}

nav ul {
	list-style: none;
	text-align: center;
}
nav ul li {
	display: inline-block;
}

.hs-navbar,
nav ul li a {
	display: block;
	padding: 0 15px 15px 5px;
	text-decoration: none;
	color: rgb(183, 183, 183);
	text-transform: uppercase;
	margin: 0 10px;
}

.hs-navbar a:hover,
nav ul li a:hover {
	color: #fff;
}

nav.stroke ul li a,
nav.fill ul li a {
	position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: rgb(145, 100, 67);
	height: 1px;
	transition: ease 0.5s;
}
nav.stroke ul li a:hover:after {
	width: 100%;
}
/* https://codepen.io/maheshambure21/pen/QwXaRw */

.hs-nav-collapse {
	background-color: rgba(255, 255, 255, 0.2);
}

.account {
	padding-right: 5vw;
}

.hs-nav-collapse a {
	color: rgb(214, 214, 214);
}

.hs-nav-collapse a:hover {
	width: fit-content;
	color: #fff;
	background-color: inherit;
}

/* Home Page */

/* .home-icon {
	text-decoration: none;
	text-align: center;
	color: rgb(183, 183, 183);
	padding-top: 50px;
	height: 250px;
	top: 10px;
	bottom: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.home-icon:hover {
	color: inherit;
}

.home-icon h5 {
	color: #000;
	font-weight: 700;
}

.blue:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(57, 129, 246, 0.22);
}

.blue-gradient:before {
	background: linear-gradient(
		to right top,
		#3ea1f6,
		#3a9df7,
		#3898f7,
		#3894f7,
		#398ff7,
		#398bf7,
		#3988f6,
		#3a84f6,
		#3980f6,
		#397df6,
		#3a79f6,
		#3b75f6
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 72px;
	display: initial;
} */

/* https://stackoverflow.com/questions/12732663/text-gradient-with-font-awesome
	https://mycolor.space/gradient3?ori=to
	+ right
	+ bottom&hex=%23B687FE&hex2=%23A669FA&hex3=%238936F5&submit=submit
	https://dribbble.com/shots/14699183-Aero-glass-for-Icon/attachments/6397977?mode=media */

/* .green:hover {
	color: inherit;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(68, 244, 196, 0.22);
}

.green-gradient {
	background-image: linear-gradient(
		to right top,
		#50f9cb,
		#4bf6c8,
		#45f4c4,
		#3ff1c1,
		#39eebd,
		#34ebba,
		#2ee9b7,
		#28e6b4,
		#23e3b0,
		#1cdfad,
		#15dca9,
		#0bd9a6
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 72px;
	display: initial;
}

.orange:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(255, 142, 73, 0.22);
}

.orange-gradient {
	background-image: linear-gradient(
		to right top,
		#ffb688,
		#ffb07f,
		#ffab75,
		#ffa56c,
		#ff9f63,
		#ff9b5c,
		#ff9656,
		#ff924f,
		#ff8e49,
		#ff8b43,
		#ff873d,
		#ff8337
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 72px;
	display: initial;
}

.purple:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(164, 102, 250, 0.22);
}
.purple-gradient {
	background-image: linear-gradient(
		to right bottom,
		#b687fe,
		#b382fd,
		#b07cfd,
		#ad77fc,
		#aa71fb,
		#a66afa,
		#a364fa,
		#9f5df9,
		#9a54f8,
		#944bf7,
		#8f41f6,
		#8936f5
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 72px;
	display: initial;
} */

/* Alerts */

.alert {
	width: 80vw;
	padding: 12px 16px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 12px;
	position: absolute;
	z-index: 1;
	margin-top: 5px;
	margin-left: 10%;
	margin-right: 10%;
	color: #fff;
	z-index: 1;
	text-align: left;
}

.alert.alert-success {
	background-color: rgba(227, 253, 235, 1);
	border-color: rgba(38, 179, 3, 1);
	color: rgba(60, 118, 61, 1);
}

.alert.alert-info {
	background-color: rgba(217, 237, 247, 0.1);
	color: #fff;
	border-color: rgba(255, 255, 255, 0);
}

.alert.alert-warning {
	background-color: rgba(252, 248, 227, 1);
	border-color: rgba(177, 161, 129, 1);
	color: rgba(138, 109, 59, 1);
}

.alert.alert-danger {
	background-color: rgba(248, 215, 218, 1);
	border-color: rgba(220, 53, 69, 1);
	color: rgba(114, 28, 36, 1);
}

.alert-close {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.alert-danger.alert-close {
	color: rgba(114, 28, 36, 1);
}

.alert-info.alert-close {
	color: rgba(255, 255, 255, 1);
}

.alert-warning.alert-close {
	color: rgba(138, 109, 59, 1);
}

.alert-success.alert-close {
	color: rgba(60, 118, 61, 1);
}

/* HOME PAGE */
.home-logged-in {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/static/images/bg-2.jpg");
	background-position: center top;
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	align-items: center;
	background-attachment: fixed;
}

/* DOCS */

.doc-card-deck {
	padding: 0 5%;
}

.dl-btn {
	background-color: #fff;
	position: relative;
	width: 150px;
	height: 50px;
	color: rgb(8, 13, 19);
	border: 2px solid #fff;
	text-transform: uppercase;
	font-family: 'Roboto';
}

.dl-btn * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity .2s;
}

.dl-btn:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
}

.dl-btn:focus {
	width: 30px;
	border-radius: 0;
	border-style: none;
	background-color: rgb(255, 255, 255, 0);
}

.dl-btn:focus .dl-btn-txt {
	opacity: 0;
}

.dl-icon {
	opacity: 0;
}

.dl-btn:focus .dl-icon {
	opacity: 1;
	font-size: 50px;
	color: inherit;
	transition-delay: .1s;
	transition: opacity .5s;
}

.dl-btn:hover .dl-icon {
	color: #fff;
}

.dl-all-btn {
	width: 300px;
}

/* PAY */

.pay-form {
	text-align: left;
	padding: 10px 50px 10px;
}

.pay-form h1 {
	text-align: center;
	margin-bottom: 25px;
}

.pay-form input {
	margin: 5px;
	width: 100%;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
}

.pay-form input:focus {
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	border: solid 1.2px #fff;
	outline: none;
}

/* EVENTS */
.event h1 {
	text-align: left;
}
.event-card {
	color: #fff;
	background-color: rgba(3, 8, 14, 0.5);
	backdrop-filter: blur(10px);
	width: 60vw;
}

.event-card table {
	color: #fff;
}

.event-btn {
	display: inline-block;
	padding: 0.5em 3em;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	transition: all 0.15s;
	margin: 0 0.3em 0.3em 0;
	margin-top: 5px;
}

.event-add-btn {
	color: #000;
	background-color: #fff;
	margin: 45px 0;
	border: 0.16em solid #ffffff;
}

.event-add-btn:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
}

.reschedule-btn {
	color: #fff;
	border: 0.16em solid #ffffff;
}

.delete-event:hover,
.cancel-btn {
	color: rgb(220, 53, 69);
	border: 0.16em solid rgb(220, 53, 69);
	background-color: rgba(220, 53, 69, 0);
}

.reschedule-btn:hover {
	background-color: #fff;
	border: 0.16em solid #ffffff;
	color: #000;
}

.delete-event,
.cancel-btn:hover {
	background-color: rgb(220, 53, 69);
	border: 0.16em solid rgb(220, 53, 69);
	color: #000;
}

.modal-backdrop {
	z-index: -1;
}

.modal * {
	background-color: rgb(9, 19, 28);
}
