/* HOME */
body {
	height: 100%;
	width: 100vw;
	margin: 0;
	font-family: proxima-soft, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.2px;
	color: #fff;
	overflow-x: hidden;
	/* overflow-y: scroll; */
	font-size: 3.5vh;
}

*::-webkit-scrollbar {
	display: none;
}
/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

h1 {
	font-weight: 700;
	font-family: 'Roboto';
}

.bg {
	background: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
}

.header {
	color: #fff;
}

.hs-logo {
	padding-top: 10px;
	font-family: 'Pirata One';
	font-size: 9vh;
}

.on-winn {
	font-family: 'Michroma';
	text-transform: uppercase;
	font-size: 2.4vh;
	font-weight: 600;
}

.hs-copy {
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-left: 5vw;
}

.row.header > * {
	width: 33%;
	max-width: 33%;
}

.home-pic {
	width: 45vw;
}

.drone-pic {
	width: 45vw;
	margin-right: 5vw;
}

.foot {
	margin-top: 50px;
	width: 100vw;
	font-size: 2.6vh;
	font-family: 'Roboto';
	background-color: rgba(0, 0, 0, 0.3);
}

.wrap {
	padding: 27px;
	text-align: center;
}

.wrap a {
	color: #3ea1f6;
}

.hover-fx {
	font-size: 6vh;
	display: inline-block;
	cursor: pointer;
	margin: 15px;
	width: 6vh;
	height: 6vh;
	line-height: 6vh;
	border-radius: 50%;
	text-align: center;
	position: relative;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	transition: 300ms;
}

.hover-fx:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	box-sizing: content-box;
	box-shadow: 0 0 0 1px #3ea1f6;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 300ms;
}

.hover-fx:hover {
	background-color: #050903;
	color: #3ea1f6;
}

.hover-fx:hover:after {
	opacity: 1;
	transform: scale(1.15);
}

/* Login and Register */

#demo {
	font-size: 2.1vh;
}

#login {
	margin-bottom: 5vh;
}

.login-btn {
	display: inline-block;
	padding: 0.5em 2em;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: 0.16em solid #ffffff;
	color: #ffffff;
	text-align: center;
	transition: all 0.15s;
	margin: 0 0.3em 0.3em 0;
	margin-top: 5px;
	font-size: 3vh;
}

.login-btn:hover {
	background-color: #fff;
	border: 0.16em solid #ffffff;
	color: #050903;
	text-align: center;
	transition: all 0.5s;
}

.login-header {
	font-size: 8vh;
	margin-bottom: 4vh;
}

.col.form-text-center {
	padding: 10vh;
	height: max-content;
}

.frosted-glass {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
}
.transparent-form {
	width: 65%;
	height: max-content;
	position: relative;
	display: flex;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 5%;
	bottom: 5%;
	color: #fff;
	box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.3);
	justify-content: center;
	text-align: center;
	margin-bottom: 50px;
}

#register-form input {
	margin-top: 1vh;
	width: 50%;
}

#register-form button {
	width: 50%;
}

/* https://dev.to/khush2706/frosted-glass-effect-in-css-27p4 */

.transparent-form a {
	color: #e7f2f8;
	text-decoration: underline 0.15em rgba(255, 255, 255, 0);
	transition: ease 0.5s;
	margin-left: 5px;
	letter-spacing: 2.5px;
	position: relative;
	padding: 0.2em 0;
	font-weight: 600;
}

.transparent-form a::after {
	transform: scale(0);
	transform-origin: center;
	content: '';
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	transition: opacity 300ms, transform 300ms;
	background-color: #fff;
}

.transparent-form a:hover::after,
.transparent-form a:focus::after {
	transform: scale(1);
}

.login-form {
	padding-bottom: 2vh;
	margin-bottom: 0;
}

/* https://css-irl.info/animating-underlines/ */

.transparent-form input {
	align-self: center;
	color: #fff;
	padding: 5px;
	margin: 10px auto;
	font-size: 22px;
	width: fit-content;
	-webkit-text-fill-color: #fff !important;
	-webkit-background-clip: text;
	background-clip: text;
}

.transparent-form input:focus {
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	border: #fff;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
/* https://stackoverflow.com/questions/61462583/html-input-css-background-color-not-applied */
/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */

/* NAVBAR */

.hs-navbar {
	font-family: proxima-soft, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.hs-grid {
	font-size: 3.5vh;
}

nav {
	width: 100vw;
	margin: 0 auto;
}

nav ul {
	list-style: none;
	text-align: center;
}
nav ul li {
	display: inline-block;
}

.hs-navbar,
nav ul li a {
	display: block;
	padding: 0 15px 15px 5px;
	text-decoration: none;
	color: rgb(183, 183, 183);
	text-transform: uppercase;
	margin: 0 10px;
}

.hs-navbar a:hover,
nav ul li a:hover {
	color: #fff;
}

nav.stroke ul li a,
nav.fill ul li a {
	position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: rgb(145, 100, 67);
	height: 1px;
	transition: ease 0.5s;
}
nav.stroke ul li a:hover:after {
	width: 100%;
}
/* https://codepen.io/maheshambure21/pen/QwXaRw */

.hs-nav-collapse {
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 3.5vh;
}

.account {
	padding-right: 5vw;
}

.hs-nav-collapse a {
	color: rgb(214, 214, 214);
}

.hs-nav-collapse a:hover {
	width: fit-content;
	color: #fff;
	background-color: inherit;
}

/* Alerts */

.alert {
	width: 80vw;
	padding: 12px 16px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 12px;
	position: absolute;
	z-index: 1;
	margin-top: 5px;
	margin-left: 10%;
	margin-right: 10%;
	color: #fff;
	z-index: 1;
	text-align: left;
}

.alert.alert-success {
	background-color: rgba(227, 253, 235, 1);
	border-color: rgba(38, 179, 3, 1);
	color: rgba(60, 118, 61, 1);
}

.alert.alert-info {
	background-color: rgba(217, 237, 247, 0.1);
	color: #fff;
	border-color: rgba(255, 255, 255, 0);
}

.alert.alert-warning {
	background-color: rgba(252, 248, 227, 1);
	border-color: rgba(177, 161, 129, 1);
	color: rgba(138, 109, 59, 1);
}

.alert.alert-danger {
	background-color: rgba(248, 215, 218, 1);
	border-color: rgba(220, 53, 69, 1);
	color: rgba(114, 28, 36, 1);
}

.alert-close {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.alert-danger.alert-close {
	color: rgba(114, 28, 36, 1);
}

.alert-info.alert-close {
	color: rgba(255, 255, 255, 1);
}

.alert-warning.alert-close {
	color: rgba(138, 109, 59, 1);
}

.alert-success.alert-close {
	color: rgba(60, 118, 61, 1);
}

/* HOME PAGE */
.home-logged-in {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/static/images/bg-2.jpg");
	background-position: center top;
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	align-items: center;
	background-attachment: fixed;
}

#weather-icon {
	height: 15vh;
	text-align: right;
	margin-right: 0;
}

#weather-description {
	font-size: 2.3vh;
	text-transform: capitalize;
	text-align: left;
}

#temperature {
	font-weight: bold;
	text-align: left;
}

.mph {
	text-transform: lowercase;
}

/* DOCS */

.doc-card-deck {
	padding: 0 5%;
}

.doc-card-deck h5 {
	font-size: 4vh;
}

.dl-btn {
	background-color: #fff;
	position: relative;
	width: 16vw;
	height: 10vh;
	color: rgb(8, 13, 19);
	border: 2px solid #fff;
	text-transform: uppercase;
	font-family: 'Roboto';
	padding: 2vh;
	font-size: 3.5vh;
}

.dl-all-btn {
	width: 25vw;
	height: 10vh;
	padding-top: 10vh;
}

.dl-btn * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity .2s;
}

.dl-btn:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
}

.dl-btn:focus {
	width: 30px;
	border-radius: 0;
	border-style: none;
	background-color: rgb(255, 255, 255, 0);
}

.dl-btn:focus .dl-btn-txt {
	opacity: 0;
}

.dl-icon {
	opacity: 0;
}

.dl-btn:focus .dl-icon {
	opacity: 1;
	font-size: 50px;
	color: inherit;
	transition-delay: .1s;
	transition: opacity .5s;
}

.dl-btn:hover .dl-icon {
	color: #fff;
}

.dl-all-btn {
	width: 300px;
}

/* PAY */

.glass-form {
	text-align: left;
	padding: 10px 50px 10px;
}

.glass-form h1 {
	text-align: center;
	margin-bottom: 25px;
}

.glass-form input,
.glass-form textarea,
.glass-form select {
	margin: 5px;
	width: 100%;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	color-scheme: dark;
	font-size: inherit;
}

.glass-form input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.glass-form input:focus,
.glass-form textarea:focus {
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	border: solid 1.2px #fff;
	outline: none;
}

#pay-submit {
	margin: 7vh 5px;
	width: 100%;
}
/* CONTACT */
#list-board {
	width: 60vw;
	margin: auto;
	left: 0;
	right: 0;
	padding: 3vh 0 10vh;
	margin-bottom: 3vh;
}

#email-btn {
	width: max-content;
	margin-bottom: 10vh;
}

#board-members {
	margin-left: 33%;
	margin-top: 5vh;
}
/* EVENTS */
.event {
	margin-left: 10vw;
}
.event h1 {
	text-align: left;
	font-size: 8vh;
}
.event-card {
	color: #fff;
	background-color: rgba(3, 8, 14, 0.5);
	backdrop-filter: blur(10px);
	width: 60vw;
}

.event-card table {
	color: #fff;
}

.event-btn {
	display: inline-block;
	padding: 0.5em 3em;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	transition: all 0.15s;
	margin: 0 0.3em 0.3em 0;
	margin-top: 5px;
	font-size: 3vh;
	width: 75%;
	text-align: center;
	border-radius: 10px;
}

.glass-form-btn,
.event-add-btn {
	color: #000;
	background-color: #fff;
	margin: 45px 0;
	border: 0.16em solid #ffffff;
}

#add-evt {
	width: max-content;
}

.glass-form-btn:hover,
.event-add-btn:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
}

.reschedule-btn {
	color: #fff;
	border: 0.16em solid #ffffff;
}

.delete-event:hover,
.cancel-btn {
	color: rgb(220, 53, 69);
	border: 0.16em solid rgb(220, 53, 69);
	background-color: rgba(220, 53, 69, 0);
}

.reschedule-btn:hover {
	background-color: #fff;
	border: 0.16em solid #ffffff;
	color: #000;
}

.delete-event,
.cancel-btn:hover {
	background-color: rgb(220, 53, 69);
	border: 0.16em solid rgb(220, 53, 69);
	color: #000;
}

.modal-backdrop {
	z-index: -1;
}

.modal * {
	background-color: rgb(9, 19, 28);
}
