body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.hs-logo {
	font-size: 7vh;
}

.row.header > * {
	width: 100%;
	max-width: 100%;
	align-items: center;
}

.header {
	width: 100%;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.weather-icon {
	height: 12vh;
	text-align: center;
}

#logo-col {
	flex: auto;
	margin-bottom: 4vh;
}

#hidden-col {
	width: 0;
}

.frosted-glass {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
}
.transparent-form {
	width: 90%;
	position: absolute;
	margin: 1%;
	justify-content: center;
	left: 0;
	right: 0;
	height: fit-content;
	padding-bottom: 10%;
}

.login-header {
	margin-top: 10%;
	font-size: 45px;
}

.transparent-form p {
	font-size: 16px;
}
.transparent-form a {
	color: #e7f2f8;
	text-decoration: underline 0.15em rgba(255, 255, 255, 0);
	transition: text-decoration-color 300ms;
	padding-left: 5px;
	font-weight: 600;
	letter-spacing: 2px;
}

.transparent-form a:hover {
	text-decoration-color: rgba(255, 255, 255, 1);
}

.transparent-form input {
	align-self: center;
	color: #fff;
	padding: 5px;
	margin: 10px auto;
	font-size: 20px;
	width: fit-content;
	-webkit-text-fill-color: #fff !important;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: inherit;
}

.transparent-form input:focus {
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	border: #fff;
}

.event-card {
	width: 100vw;
}

.hs-copy {
	width: 95vw;
	display: block;
}

.hs-pic {
	width: 95vw;
}

.drone-pic {
	width: 75vw;
	overflow: hidden;
	margin-top: 2vh;
}

.event-card {
	width: 100%;
}

.reschedule-btn,
.dl-btn,
.event-add-btn,
.event-btn {
	width: 100%;
	text-align: center !important;
	align-items: center;
}

.hs-nav-collapse {
	background-color: rgba(0, 0, 0, 0.7);
}
