body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.row.header > * {
	width: 100%;
	max-width: 100%;
	align-items: center;
}

.header {
	padding-top: 2vh;
	width: 100%;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
}

/* Header Section */

.hs-logo {
	font-size: 5vh;
	margin-bottom: 0;
}
.on-winn {
	font-size: 1.1vh;
	margin-top: 0;
	letter-spacing: 1vw;
}

.weather-icon {
	height: 10vh;
	text-align: center;
}

#temperature {
	font-size: 2vh;
}
#weather-description {
	font-size: 1.5vh;
	text-transform: uppercase;
}

#logo-col {
	flex: auto;
	margin-bottom: 4vh;
}

#hamburger {
	font-size: 5vh;
	font-weight: 900;
	border: none;
	color: #fff;
}

.foot {
	padding: 0;
}

#hidden-header-col,
#hidden-foot-col {
	display: none;
}

#footer-text {
	padding: 5vh 5vw;
	display: inline-block;
	margin: auto;
	font-size: 2.3vh;
}

.hs-grid {
	color: #fff;
}

.frosted-glass {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
}
.transparent-form {
	width: 99vw;
	position: absolute;
	margin: 1%;
	justify-content: center;
	left: 0;
	right: 0;
	height: max-content;
	padding-bottom: 10%;
}

.bg {
	overflow-x: hidden;
	width: 100vw;
	margin: 0;
}

.login-header {
	margin-top: 2vh;
	font-size: 5vh;
}

.transparent-form p {
	font-size: 16px;
}
.transparent-form a {
	color: #e7f2f8;
	text-decoration: underline 0.15em rgba(255, 255, 255, 0);
	transition: text-decoration-color 300ms;
	padding-left: 5px;
	font-weight: 600;
	letter-spacing: 2px;
}

.transparent-form a:hover {
	text-decoration-color: rgba(255, 255, 255, 1);
}

.transparent-form input {
	align-self: center;
	color: #fff;
	padding: 5px;
	margin: 10px auto;
	font-size: 20px;
	width: fit-content;
	-webkit-text-fill-color: #fff !important;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: inherit;
}

.transparent-form input:focus {
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	border: #fff;
}

.welcome-text {
	padding: 0;
	font-size: 2.2vh;
}

.event-card {
	width: 100vw;
}

.event {
	margin: 2vw;
}

.hs-copy.col {
	width: 100%;
	display: block;
	margin: 0;
}

.hs-pic {
	width: 95vw;
	margin: 0;
	padding: 0;
}

.drone-pic {
	width: 95vw;
	overflow: hidden;
	margin-top: 2vh;
	margin-right: 0;
}

.event-card {
	width: 100%;
}

.reschedule-btn,
.dl-btn,
.event-btn {
	width: 100%;
	text-align: center !important;
	align-items: center;
}

#add-evt {
	width: 98%;
	margin: 2vh 2vw 5vh;
	align-self: center;
	left: 0;
	right: 0;
	padding: 2%;
	font-size: 3.5vh;
}

.hs-nav-collapse {
	background-color: rgba(0, 0, 0, 0.7);
}

.col.form-text-center {
	padding: 5%;
}

.login-form {
	width: 98vw;
}

.login-div {
	padding: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}

#register-form {
	margin-left: 0;
	padding: 1%;
}

#register-form button,
#register-form input {
	width: 90vw;
}

/* Photos */

.caption {
	font-size: 2vh;
	text-align: left;
	text-transform: uppercase;
}

#list-board {
	width: 100vw;
}
