{% extends 'base.html' %}
{%block title %} Condo Docs {%endblock%}
{%block content %}
<div class="row m-1">
    <div class="col"><h1>Hi-Spot Condo Docs</h1></div>
    <div class="col"><a class="btn dl-btn dl-all-btn" role="button" href="static/hispot_condo_docs/Hi-Spot Condo Docs.zip" download="Hi-Spot Condo Docs"><i class="fa-light fa-cloud-arrow-down dl-icon"></i> <span class="dl-btn-txt">Download All</span></a>
</div>

<div class="doc-card-deck">
<div class="row doc-card-deck">
    <div class="col-sm-6">
      <div class="card m-2 frosted-glass">
        <div class="card-body ">
          <h5 class="card-title">First Ammendment to Declaration</h5>    
          <p><br></p>   
          <a href="static/hispot_condo_docs/1st Amendment to Declaration_2013.pdf" class="btn dl-btn" download="1st Amendment to Declaration_2013"><i class="fa-light fa-cloud-arrow-down dl-icon"></i> <span class="dl-btn-txt">Download</span></a>
        </div>
      </div>
    </div>  

    <div class="col-sm-6">
        <div class="card m-2 frosted-glass">
          <div class="card-body">
            <h5 class="card-title">Appendix B</h5>     
            <p>Assignment of Docks and Moorings</p>     
            <a href="static/hispot_condo_docs/Appendix B_assignment docks_moorings.pdf" class="btn dl-btn" download="Appendix B_assignment docks_moorings"><i class="fa-light fa-cloud-arrow-down dl-icon"></i> <span class="dl-btn-txt">Download</span></a> 
          </div>
        </div>
      </div>  

      <div class="col-sm-6">
        <div class="card m-2 frosted-glass">
          <div class="card-body">
            <h5 class="card-title">Appendix C</h5>
            <p>Bylaws of Hi-Spot Condominiums</p>          
            <a href="static/hispot_condo_docs/By Laws_Appendix C_2004.pdf" class="btn dl-btn" download="By Laws_Appendix C_2004"><i class="fa-light fa-cloud-arrow-down dl-icon"></i> <span class="dl-btn-txt">Download</span></a>
          </div>
        </div>
      </div>  

      <div class="col-sm-6">
        <div class="card m-2 frosted-glass">
          <div class="card-body">
            <h5 class="card-title">Exhibit A</h5>
            <p>Declaration of Land</p>          
            <a href="static/hispot_condo_docs/Exhibit A_to Declaration_Land.pdf" class="btn dl-btn" download="Exhibit A_to Declaration_Land"><i class="fa-light fa-cloud-arrow-down dl-icon"></i> <span class="dl-btn-txt">Download</span></a>
          </div>
        </div>
      </div>  

      <div class="col-sm-6">
        <div class="card m-2 frosted-glass">
          <div class="card-body">
            <h5 class="card-title">Declaration of Hi-Spot Condominiums</h5> 
            <p><br></p>         
            <a href="static/hispot_condo_docs/Hi Spot Declaration.pdf" class="btn dl-btn" download="Hi Spot Declaration"><i class="fa-light fa-cloud-arrow-down dl-icon"></i> <span class="dl-btn-txt">Download</span></a>
          </div>
        </div>
      </div>  

      <div class="col-sm-6">
        <div class="card m-2 frosted-glass">
          <div class="card-body">
            <h5 class="card-title">Hi-Spot Rules</h5> 
            <p>Condominium Rules & Regulations</p>         
            <a href="static/hispot_condo_docs/Hi-Spot Rules_updated 4-13-21 (1).pdf" class="btn dl-btn" download="Hi-Spot Rules_updated 4-13-21.pdf"><i class="fa-light fa-cloud-arrow-down dl-icon"></i> <span class="dl-btn-txt">Download</span></a>
          </div>
        </div>
      </div>  
  </div>
</div>

{% endblock %}