{% extends 'base.html' %}
{%block title %} Welcome Back! {%endblock%}
{%block content %}

<div class="container-fluid p-5">
  <div class="row">
  <div class="hs-copy col">
    <h1>Welcome to Hi Spot</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt reiciendis possimus dolorum vero veritatis? Minus sit magnam ducimus aut deserunt doloribus iste esse laboriosam quibusdam! Maxime nisi earum dicta voluptas.</p>
  </div>
  <div class="hs-pic col">

      <img class='img-fluid rounded' src="static/images/drone-3-crop.jpg" alt="">

    </div>
  </div>
</div>

{%endblock%}
