{% extends 'base.html' %}
{%block title %} Welcome Back! {%endblock%}
{%block content %}

<div class="row p-4">
    <div class="col-sm-4">      
        <div class="card">
            <a class="home-icon" href="/events">
                <i class="fa-light fa-calendar-clock fa-5x"></i>
            <div class="card-body">
              <h5 class="card-title">Condo Events</h5>
              <p class="card-text">Stay updated on upcoming condo meetings and events</p>
            </div>   
            </a>         
          </div>
        </div>
  
        <div class="col-sm-4">   
            <div class="card">
              <a class="home-icon" href="/photos">
                  <i class="fa-light fa-camera-polaroid fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Photo Gallery</h5>
                <p class="card-text">Photos of Hi-Spot over the years</p>
              </div>   
              </a>         
            </div>
          </div>

          <div class="col-sm-4">   
            <div class="card">
              <a class="home-icon" href="/docs">
                  <i class="fa-light fa-books fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Condo Docs</h5>
                <p class="card-text">View and Download Hi-Spot Condo Docs</p>
              </div>   
              </a>         
            </div>
          </div>

          <div class="col-sm-4">   
            <div class="card">
              <a class="home-icon" href="/pay">
                  <i class="fa-light fa-cart-shopping fa-5x"></i></i>
              <div class="card-body">
                <h5 class="card-title">Pay Online</h5>
                <p class="card-text">Pay your monthly dues online</p>
              </div>   
              </a>         
            </div>
          </div>

          <div class="col-sm-4">   
            <div class="card">
              <a class="home-icon" href="/contact">
                  <i class="fa-light fa-message-middle fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Contact</h5>
                
              </div>   
              </a>         
            </div>
          </div>

          <div class="col-sm-4">   
            <div class="card">
              <a class="home-icon" href="/edit_profile">
                  <i class="fa-light fa-gear fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Account Settings</h5>
                
              </div>   
              </a>         
            </div>
          </div>
  </div>
{%endblock%}
