{% extends 'base.html' %}

{%block content %}
    <div class="hs-banner">
        <!-- <img src="/static/images/hi-spot-banner.jpg" class="card-img" alt="Hi-Spot banner"> -->
        <div class="hs-banner-text">
            <div class="col">
                <h1>Hi-Spot</h1>
                <h2>Condominiums</h2>
                <h3>Laconia, NH</h3>
                <a class="btn btn-primary" href="/register" role="button">Sign Up</a>
              <a class="btn btn-primary" href="/login" role="button">Log In</a>
            </div>          
        </div>
      </div>
{% endblock %}