{% extends 'base.html' %}
{%block title %} Hi Spot on Winnipesaukee {%endblock%}
{%block content %}

<div class="container-fluid welcome-text">
  <div class="row">
  <div class="hs-copy col">
    <h1>Welcome to Hi Spot</h1>
    <p>Hi-Spot Condos are nestled centrally in the heart of the Lakes Region with access to all the summer and winter activities this region provides. Prime location with access to Paugus Bay on Lake Winnipesaukee and 15 minutes from Gunstock Mountain. Association beach with lounge chairs, tiki bar with refrigerator and swim platform.</p>
    <!-- https://www.compass.com/listing/277-weirs-boulevard-unit-13-laconia-nh-03246/958522483031257345/ -->
  </div>
  <div class="hs-pic col">
      <img class='rounded drone-pic' src="static/images/drone-3-crop.jpg" alt="aerial view of hi-spot">
    </div>
  </div>
</div>

{%endblock%}
