{% extends 'base.html' %}
{%block title %} Edit Profile {%endblock%}

{%block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-4 frosted-glass glass-form">
      <h1 class="join-message">Change your Password</h1>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'old_password'%}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{field.label}}
          {{ field(class="form-control") }}
          {% if form.new_password.errors %}
          {% for error in form.new_password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {% endfor %}

        <p>To confirm changes, enter your old password:</p>
        {% if form.old_password.errors %}
          {% for error in form.old_password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.old_password(placeholder="Enter your old password to confirm", class="form-control") }}

        <div class="edit-btn-area">
          <button class="event-btn glass-form-btn">Update Password</button>
          <a href="/change_pw" class="event-btn reschedule-btn">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{%endblock%}