{% extends 'base.html' %}
{%block title %} Hi-Spot Login {%endblock%}
{% block content %}


<div class="row justify-content-md-center bg">
  <div class="position-relative login-div">
  <div class="transparent-form frosted-glass login-form">
    <div class="col form-text-center">
      <h2 class="login-header">Welcome back.</h2>
      <p>Don't have an account? <a href="/register">Register here</a></p>

      <form method="POST">

        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn login-btn">Log in</button>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}