{% extends 'base.html' %}
{%block title %} Register {%endblock%}
{% block content %}

<!-- <div class="hs-banner"> -->
  <div class="row justify-content-md-center bg">
    <div class="position-relative">
  <div class="transparent-form frosted-glass">
    <div class="col form-text-center">    
    <h2 class="login-header">Create Account</h2>
    <form method="POST">
      <!-- removed id="user-form" -->
      {{ form.hidden_tag() }}
      {% for field in form if field.widget.input_type != 'hidden' %}
      
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}
      
      
      <button class="btn login-btn">Sign me up!</button>
    </form>
  </div>
</div>
</div>
</div>
{% endblock %}