{% extends 'base.html' %}

{%block title %} Hi-Spot Events {%endblock%}

{% block content%}

<div class="event">  

<h1>{% if g.user.id in board_ids %} 
    <a href="/add_event" class="event-btn event-add-btn text-start" id="add-evt" role="button" aria-disabled="true"><i class="fa-solid fa-plus"></i> Add Event</a> <br>
    {%endif%}
    Upcoming: 

</h1>
{% for event in events |sort(attribute='date')%}
{% if event.date >= current_date %}
<div class="card mb-3 event-card">
    <div class="card-body text-start">
        <div class="row">
            {% if g.user.id in board_ids %} 
            <div class="col w-75">
                {%else%}
            <div class="col w-100">
                {%endif%}
                <h5 class="card-title">{{event.title}}</h5>                

            {% if event.description == 'This event has been rescheduled'%}
                <p class="card-text">                    
                    <span class="text-warning"> {{event.description}}</span>
                    </p>

                    <table class="table">
                        <tr>
                            <td>
                                <i class="fa-light fa-calendar-day"></i>
                            </td>
                            <td>
                                {{event.date|date}}
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa-light fa-alarm-clock"></i></td>
                            <td>{{event.start_time|time}} - {{event.end_time|time}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa-light fa-location-dot"></i></td>
                            <td><b>{{event.location_name}}</b> <br>
                                <address>{{event.location_address}}</address></td>
                        </tr>
                    </table>
                    <div class="row">
                        <p class="card-text"><small class="text-muted">Rescheduled by {{event.user.first_name}} {{event.user.last_name}}</small></p>
                    </div>    
                              
                {% elif event.description == 'This event has been cancelled'%}
                <p class="card-text">                    
                    <span class="text-danger"> {{event.description}}</span>
                    </p>
                    <table class="table text-muted">
                        <tr>
                            <td>
                                <i class="fa-light fa-calendar-day"></i>
                            </td>
                            <td>
                                <s>{{event.date|date}}</s>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa-light fa-alarm-clock"></i></td>
                            <td>
                                <s>{{event.start_time|time}} - {{event.end_time|time}}</s></td>
                        </tr>
                        <tr>
                            <td><i class="fa-light fa-location-dot"></i></td>
                            <td><s><b>{{event.location_name}}</b> <br>
                                <address>{{event.location_address}}</address></s></td>
                        </tr>                        
                    </table>
                    {%else%}
                    <p class="card-text"></p>
                    {{event.description}}                    
                
                </p>
                    <table class="table">
                        <tr>
                            <td>
                                <i class="fa-light fa-calendar-day"></i>
                            </td>
                            <td>
                                {{event.date|date}}
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa-light fa-alarm-clock"></i></td>
                            <td>{{event.start_time|time}} - {{event.end_time|time}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa-light fa-location-dot"></i></td>
                            <td><b>{{event.location_name}}</b> <br>
                                <address>{{event.location_address}}</address></td>
                        </tr>
                    </table>

                    {%endif%}
            </div>
            {%if g.user.id in board_ids %}
            <div class="col">
                
                <div class="row">
                    <div class="col w-30">
                    <a class="event-btn reschedule-btn" href="/events/{{event.id}}/reschedule" role="button">Reschedule</a>
                </div>
                </div>             

                   
        {% if event.description != 'This event has been cancelled' %}
         <!-- Cancel event modal https://getbootstrap.com/docs/5.2/components/modal/#how-it-works -->
         <div class="row">
            <div class="col w-30">
        <button type="button" class="event-btn cancel-btn" data-bs-toggle="modal" data-bs-target="#cancelEvtModal">
        Cancel Event
        </button>  
            </div>
         </div>
        <!-- Modal -->
        <div class="modal fade" id="cancelEvtModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to cancel {{event.title}}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                The event will stay on the list, but it will show up as "cancelled"
                </div>
                <div class="modal-footer">
                <button type="button" class="event-btn reschedule-btn" data-bs-dismiss="modal">Go Back</button>
                <a href="/events/{{event.id}}/cancel" role="button" class="event-btn cancel-btn">Cancel Event</a>
                </div>
              </div>
            </div>
        </div>
           {%endif%}

        {%if g.user.id == event.added_by %} 
                    <!-- Delete event modal  -->
        <div class="row">
            <div class="col w-30">
            <button type="button" class="event-btn delete-event" data-bs-toggle="modal" data-bs-target="#deleteEvtModal">
                Delete <i class="fa-light fa-trash-can"></i>
                </button>  
        </div>
                    </div>
            <!-- Modal -->
            <div class="modal fade" id="deleteEvtModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete {{event.title}}?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    The event will be removed from the list entirely.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="event-btn reschedule-btn" data-bs-dismiss="modal">Go Back</button>
                    <a href="/events/{{event.id}}/delete" role="button" class="event-btn cancel-btn">Delete Event</a>
                    </div>
                </div>
            </div>
        </div>      
                

                    
                    {%endif%}
                    {% endif %}
            </div>
            </div>  
            <div class="row">
                <p class="card-text"><small class="text-muted">Added by {{event.user.first_name}} {{event.user.last_name}}</small></p>
            </div>    
        </div>
</div>
</div>

{% endif %}
{%endfor%}
<div class="event">
<h1>Past Events:</h1>
{% for event in events |sort(attribute='date', reverse=True) %}
{% if current_date > event.date %}
<div class="card mb-3 event-card" style="max-width: 75rem;">
    <div class="card-body text-start">
        <div class="row">
            <div class="col w-75">
                <h5 class="card-title">{{event.title}}</h5>
                <p class="card-text">{{event.description}}</p>
                    <table class="table m-3">
                        <tr>
                            <td>
                                <i class="fa-light fa-calendar-day"></i>
                            </td>
                            <td>
                                {{event.date|date}}
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa-light fa-alarm-clock"></i></td>
                            <td>{{event.start_time|time}} - {{event.end_time|time}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa-light fa-location-dot"></i></td>
                            <td><address>{{event.location_address}}</address></td>
                        </tr>
                    </table>
            </div>
            <!-- <div class="col">

            </div> -->
    </div>
    <div class="row">
        <p class="card-text"><small class="text-muted">Added by {{event.user.first_name}} {{event.user.last_name}}</small></p>
    </div>    
</div>
</div>
{% endif %}
{%endfor%}

</div>
</div>

{%endblock%} 